<!DOCTYPE html>
<html>
  <body>
    <header>
      {% if is_public %}
        <a href="{% url 'public_home' %}">Public Home</a>
      {% else %}
        <a href="http://localhost:8000/">Public Home</a>
      {% endif %}

      {% if user.is_authenticated %}
        | <a href="{% url 'post_login' %}">My Tenant</a>
        | <a href="{% url 'account_logout' %}">Logout</a>
      {% else %}
        | <a href="{% url 'account_login' %}">Login</a>
        | <a href="{% url 'account_signup' %}">Sign up</a>
      {% endif %}
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
